html{
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
  font-size: 100%;
}

*,
*:before,
*:after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body{
  position: relative;
  align-items: center;
  background-color: $lightGray;
  display: flex;
  justify-content: center;
  padding-bottom: 62px;
  padding-top: 72px;

  @include breakpoint-up(medium){
    height: 100vh;
  }
}

.main-app{
  z-index: 2;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: grid;
  grid: "header" auto
  "CTA" auto
  "info" auto
  / 1fr;
  overflow: hidden;
  width: 82.93%;
  box-shadow: 0px 15px 30px 0px rgba(0,81,171,0.15);

  @include breakpoint-up(medium){
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    grid: "header header" auto
    "CTA info" auto
    / 1fr 1fr;
    width: 635px;
  }
}

.attribution{ 
  bottom: 1rem;
  font-size: 11px; 
  position: absolute;
  text-align: center;
  width: 100%;

  a{
    color: hsl(228, 45%, 44%);
  }
}