html{
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
  font-size: 100%;
}

*,
*:before,
*:after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body{
  background-color: $lightGray;
}

.main-app{
  display: grid;
  grid: "header header" 1fr
  "CTA info" 1fr
  / 1fr 1fr;

  @include breakpoint-down(small){
    grid: "header" 1fr
  "CTA" 1fr
  "info" 1fr
  / 1fr;
  }
}

.head{
  background-color: white;
  grid-area: header;
}
.CTA{
  background-color: $cyan;
  grid-area: CTA;
}

.info{
  background-color: $lightCyan;
  grid-area: info;
}

.attribution{ 
  font-size: 11px; 
  text-align: center;

  a{
    color: hsl(228, 45%, 44%);
  }
}