html{
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
  font-size: 100%;
}

*,
*:before,
*:after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body{
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: $lightGray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  position: relative;
}

.main-app{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 0px 15px 30px 0px rgba(0,81,171,0.15);
  display: -ms-grid;
  display: grid;
  grid: "header" auto
  "cta" auto
  "info" auto
  / 1fr;
  margin-bottom: $topBottomSpacing;
  margin-top: $topBottomSpacing;
  overflow: hidden;
  width: 82.93%;

  @include breakpoint-up(medium){
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    grid: "header header" auto
    "cta info" auto
    / 1fr 1fr;
    width: 635px;
  }
}

.attribution{ 
  bottom: 1rem;
  font-size: 11px; 
  position: absolute;
  text-align: center;

  a{
    color: hsl(228, 45%, 44%);
  }
}