.info{
  background-color: $lightCyan;  
  grid-area: info;
  color: white;


  &__header{
    font-size: 1.125rem;
    letter-spacing: -0.0138rem;
  }

  &__text{
    color: $infoBlue;
    font-size: 0.875rem;
    line-height: calc(20/16);
    letter-spacing: -0.0106rem;
  }
}