.info{
  background-color: $cyan;
  color: white;
  grid-area: info;  
  opacity: 0.85;
  padding: 24px;

  @include breakpoint-up(medium){
    padding: 40px;
  }

  &__text{
    color: $infoBlue;
    font-size: 0.875rem;
    letter-spacing: -0.0106rem;
    line-height: 1.25rem;
    list-style-type: none;
    opacity: 0.75;

    &:first-child{
      padding-top: 18px;
    }
  }
}