$cyan: hsl(179, 62%, 43%);
$lightCyan: #4BBFBC;
$brightYellow: hsl(71, 73%, 54%);
$lightGray: hsl(204, 43%, 93%);
$grayishBlue: hsl(218, 22%, 67%);
$lightBlue: hsl(178,32%,85%);
$infoBlue: hsl(178,12%,94%);
